html {
    margin: 0;
}

body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
    font-family: var(--font-en);
    transition: background 0.3s ease, color 0.3s ease;
}

body.landing-page {
    overflow: visible;
    height: auto;
}

.form-select {
    background-position: right .75rem center;

}
[dir="rtl"] body {
    font-family: var(--font-ar);

    .form-select {
        background-position: left .75rem center;
    }
}

.overflow-y-auto {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 12px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: var(--border-light, #f1f1f1);
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: var(--accent-hover, #15b76b8f);
}
